html, body {
	height:100%;
	overflow:hidden;
	margin: 0px;
} 

iframe {
 border:none;
	
}

iframe.navBar {
	height : 46px;
	width:100%;
}

.mainMenu {
	width:100%;
	height:100%;
}

.treeframe {
	width: calc(99% - 70%);
	height:100%;
}

.workframe {
	width: calc(100% - 30%);
	height:100%;
}