html, body {
	height:100%;
	overflow:hidden;
	margin: 0px;
} 

iframe {
 border:none;
	
}

.navBar {
	height:80px;
	width:100%;
}

.mainMenu {
	width:100%;
	height:100%;
}

.treeframe {
	width:30%;
	height:100%;
}

.workframe {
	width:68%;
	height:100%;
}