/* Style for new table filter and widget (see inc_filter_panel.tpl) */
.widget-header {
	background-color: #5090C1;
	background-image: none;
	color: #fff;
	position : relative;
	min-height: 30px;
	padding-left: 10px;
}

.widget-header > .widget-title {
	line-height : 30px;
	padding: 0;
	margin: 0;
	display:inline;
}

.widget-toolbar {
	float:right;
	position : relative;
	line-height : 29px;
	padding-right: 5px;
}

.widget-body {
	background-color: #fff;
	font-family: "Open Sans";	
	border-color:#5090C1;
	border:1px solid #5090C1;
	margin: 9px;
}

.widget-main .table {
	margin-bottom : 0;
}

td.category {
	background-color: #edf3f4;
	color : #000;
	font-weight: bold;
	width: 40%;
}

td.small-category {
	background-color: #edf3f4;
	color : #000;
	font-weight: bold;
}

.table td input[type="text"] {
	background: #fff;
	border-color : #b5b5b5;
	
}

.btn-toolbar {
	margin : 0;
	padding : 5px;
	background-color : #EEE;
	border-bottom : 1px solid #CCC;
}

.form-validation {
	margin : 0;
	padding : 5px;
	background-color : #EEE;
	border-top : 1px solid #CCC;
}

.btn-group-left {
	float : left;
	position: relative;
	vertical-align: middle;
}

input[type="submit"], input[type="button"] {
	color : #23527c;
	margin : 2px;
}

input[type="submit"].btn-white, input[type="button"].btn-white {
	background-color : #fff;
	background-image: none;
}

input[type="submit"].btn-round ,input[type="button"].btn-round {
	border-radius: 4px;
	border-bottom-width : 2px;
}

input[type="submit"].btn-white:hover, input[type="button"].btn-white:hover {
	background-color : #eaf2f8;
	border-color: #8aafce;
	color: #537c9f;
	background-image: none;
}

.widget-title span.glyphicon {
	padding-right : 5px;
}

input.form-control {
	margin: 0;
}

span.glyphicon-chevron-down, span.glyphicon-chevron-up {
	color: #fff;
}